
$black: #fff;
$orange: #FFA500;
$highlighted-text-color: $orange;
$text-color: $black;

$breakpoint-large-screen: 768px;

$font-family-base: "HelveticaNeue", "Helvatica", "Arial";
$font-size-normal: 2rem;